<!-- blog/templates/blog/post_detail.html -->

{% extends 'base.html' %}

{% block title %}
{{ post.title }} - Blog
{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  {% if post.heading %}
        <h2>{{ post.heading }}</h2>
    {% endif %}
  <div>
      {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
  </div>
  <p>{{ post.content }}</p>
  <p>Author: {{ post.author }}</p>
  <p>Created At: {{ post.created_at }}</p>
  <p>Last Updated: {{ post.updated_at }}</p>
  <p>Editor: {{ post.editor }}</p>
  
{% endblock %}